[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[packages]
amqp = "*"
celery = "*"
djangorestframework = "*"
django-jsonify = "*"
django-filter = "*"
django-auth-ldap = "*"
anyjson = "*"
dj-database-url = "*"
freezegun = "*"
gevent = "*"
gunicorn = "*"
icalendar = "*"
psycopg2 = "*"
python-dateutil = "*"
pytz = "*"
redis = "*"
requests = "*"
twilio = "*"
whitenoise = "*"
coreapi = "*"
Django = "*"
django_polymorphic = "*"
django_compressor = "*"
Markdown = "*"
Pygments = "*"
