amqp
anyjson
appdirs
billiard
boto
boto3
botocore
celery~=5.2.1
coreapi
coreschema
dj-database-url
Django~=4.0
django-appconf
django-auth-ldap
django-autocomplete-light
django-bootstrap-form
django-crispy-forms
#django-compressor
git+git://github.com/django-compressor/django-compressor.git@ce972890f017a363c63bf41ab24a923b493ae97a#egg=django-compressor
django-filter
django-jsonify
django-polymorphic
djangorestframework~=3.12.4
docutils
futures
gevent
greenlet
gunicorn
httplib2
icalendar~=4.0.9
itypes
Jinja2
jmespath
kombu
Markdown
MarkupSafe
multi-key-dict
oauthlib
packaging
pbr
psycopg2
pyasn1
pyasn1-modules
pycurl
Pygments
PyJWT
pyparsing
PySocks
python-dateutil~=2.8.2
python-jenkins~=1.7.0
python-ldap
pytz
rcssmin
redis
requests~=2.26.0
requests-oauthlib
rjsmin
s3transfer
six
social-auth-app-django
social-auth-core
twilio~=7.3.2
uritemplate
urllib3
vine
whitenoise
setuptools~=59.5.0
pip~=21.3.1
freezegun~=1.1.0
mock~=4.0.3