amqp
anyjson
appdirs
billiard
boto
boto3
botocore
celery
coreapi
coreschema
dj-database-url
Django
django-appconf
django-auth-ldap
django-autocomplete-light
django-bootstrap-form
django-compressor
django-filter
django-jsonify
django-polymorphic
djangorestframework
docutils
futures
gevent
greenlet
gunicorn
httplib2
icalendar
itypes
Jinja2
jmespath
kombu
Markdown
MarkupSafe
multi-key-dict
oauthlib
packaging
pbr
psycopg2
pyasn1
pyasn1-modules
pycurl
Pygments
PyJWT
pyparsing
PySocks
python-dateutil
python-jenkins
python-ldap
python-openid
pytz
rcssmin
redis
requests
requests-oauthlib
rjsmin
s3transfer
six
social-auth-app-django
social-auth-core
twilio
uritemplate
urllib3
vine
whitenoise
