git+https://github.com/clouetb/cabot-alert-email.git@master#egg=cabot-alert-email
git+https://github.com/clouetb/cabot-alert-hipchat.git@master#egg=cabot-alert-hipchat
git+https://github.com/clouetb/cabot-alert-twilio.git@master#egg=cabot-alert-twilio
git+https://github.com/clouetb/cabot-alert-slack.git@master#egg=cabot-alert-slack
git+https://github.com/clouetb/cabot-check-nping.git@main#egg=cabot-check-nping
setuptools
pip